body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.hero h1, .directory h1, .guide-text h1, .heading h1  {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    margin-bottom: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4a5a;
    padding: 10px 20px;
    color: white;
    height: 50px;
}
.nav-links {
    margin-left: auto;
    margin-right: 0; 
    display: flex;
    gap: 20px;
}
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ccc;
    text-align: left;
    padding: 20px;
    background: url("images/headimage.jpg") no-repeat center center/cover;
}
.hero h1 {
    text-align: left;
    color : white;
    font-size: 40px;
    margin-bottom: 10px;
}
.hero p {
    text-align: left;
    color : white;
    font-size: 16px;
    margin-bottom: 10px;
}
.buttons {
    margin-top: 20px;
}
.button {
    align-items: left;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.primary {
    font-style: bold;
    font-size: 16px;
    height: 60px;
    width: 200px;
    color:#4a4a5a;
    background-color: white;
}
.secondary {
    font-style: bold;
    font-size: 16px;
    height: 60px;
    width: 180px;
    background-color: #4a4a5a;
    color: white;
}
.directory {
    text-align: center;
    padding: 50px 20px;
    background-color: black;
}
.directory-grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
.directory-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.directory-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.directory-item span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
}
.gear {
    grid-column: 1;  
    grid-row: 1;     
}

.court {
    grid-column: 1;  
    grid-row: 2;    
}

.directory-item:nth-child(3) {
    grid-column: 2;  
    grid-row: span 2; 
}

.directory-item:nth-child(4) {
    grid-column: 3;  
    grid-row: span 2; 
}
.directory h1 {
    color: white;
    margin-bottom: 10px;
}
.directory p {
    color: white;
    margin-bottom: 20px;
}
.guide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.guide-content {
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}
.guide-video {
    align-items: left;
    width: 750px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.guide-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.guide-text {
    color: #4a4a5a;
    max-width: 400px;
    text-align: left;
    gap: 40px;
}
.guide-text h2 {
    font-family: 'Merriweather', serif;
    font-style:normal;
    margin-bottom: 10px;
    font-size: 32px;
}
.heading {
    color: #4a4a5a;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
}